<div class="row">
    <% if task.completed? %>
        <p class="col-md-11">
            <strong>▸</strong>
            <span class="completed"><%= task.content %></span>
        <span class="col-md-1">
                <%= link_to 'Delete', [task.project, task],
                        method: :delete,
                        data: { confirm: 'Are you sure?' } , class:"badge badge-pill badge-secondary"%>
        </span> 
        </p>
    <% else %>
        <p class="col-md-11">
            <strong>▸</strong>
            <%= task.content %>
        <span class="col-md-1">
        <%= link_to "Complete", complete_project_task_path(@project , task.id), 
                method: :patch ,
                data: { confirm: 'Are you sure?' } , class:"badge badge-pill badge-secondary"%>
        <%= link_to "Edit", edit_project_task_path(@project_id , task.id) , class:"badge badge-pill badge-secondary"%>
            <%= link_to 'Delete', [task.project, task],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } , class:"badge badge-pill badge-secondary"%>
            </span> 
        </p>
    <% end %>        
</div>