<h1> Edit your task </h1>
<br>
<%= form_for @task, url:{action: "update"} do |a| %>
    
    <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div class="jumbotron main-view">
      <div class="form-group text-left">
        <%= a.label :content %>
        <%= a.text_field :content ,class:"form-control"%>
      </div>
      <br>
      <div class="form-group">
        <%= a.submit "Save" ,class:"btn btn-secondary"%>
      </div>
    </div>
    <br>
    <%= link_to 'Back', @project , class:"btn btn-outline-dark btn-sm"%>
<% end%>