<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="jumbotron main-view">
    <div class="form-group text-left">
      <%= form.label :title %>
      <%= form.text_field :title ,class:"form-control"%>
    </div>
    
    <br>

    <div class="form-group text-left">
      <%= form.label :description %>
      <%= form.text_field :description ,class:"form-control"%>
    </div>

    <br>

    <div class="form-group text-left">
      <%= form.label :deadline %>
      <%= form.date_field :deadline ,class:"form-control"%>
    </div>

    <br>

    <div class="form-group">
      <%= form.submit class:"btn btn-secondary" %>
    </div>
  </div>  
<% end %>
