<h1>My Projects</h1>

<%= link_to 'Add new project', new_project_path %>



  <% @projects.each do |project| %>
    <p>
    <%= project.title %>
    <%= project.description %>
    <%= link_to 'Show', project %>
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>


