<div class="jumbotron main-view">
    <h2>
    <%= @project.title %>
    </h2>

    <p>
    <%= @project.description %>
    </p>

    <h4>Tasks</h2>
    <%= render @project.tasks %>

    <h5>Add Tasks</h2>
    <%= render 'tasks/form' %>


    <div class="btn-group" role="group">
    <%= link_to 'Edit', edit_project_path(@project) , class:"btn btn-outline-dark btn-sm"%> 
    <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-outline-dark btn-sm"%> 
    <%= link_to 'Back', projects_path , class:"btn btn-outline-dark btn-sm"%>
    </div>
</div>