<!DOCTYPE html>
<html>
  <head>
    <title>Projects Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <meta name="viewport" content="width=device-width, initial-scale=1"> %>
    <%# <link rel="icon" type="image/png" href="/assets/images/icon.png"> %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Black with white text -->
    <% if user_signed_in? %>
    <nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'Home', home_path , class:"nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Change Password', edit_user_registration_path , class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete , class:"nav-link"%>
        </li>
      </ul>
    </nav>
    <% else %>
      <nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <%= link_to 'Home', home_path , class:"nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path , class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path , class:"nav-link"%>
          </li>
        </ul>
    </nav>
    <% end %>
    <p class="notice text-center"><%= notice %></p>
    <p class="alert text-center"><%= alert %></p>

    <div  class="container text-center">
  <%= yield %>
    </div>
  </body>
</html>
